li {
  list-style: none;

}
button {
  background-color: #581845;
  color: #ccc;
  float: right;
}

.arrow-left{
  float: left;
}

.ion-arrow-up-a{
font-size: 160%;
}
.ion-arrow-down-a{
font-size: 160%;
}
h1 {
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
}
.container {
  background: #ad5389;
  background: -webkit-linear-gradient(to bottom, #3c1053, #ad5389);
  background: linear-gradient(to bottom, #3c1053, #ad5389);
}
p{
  color:white;
}

.quotedisplay{
  margin-left: 20%;
  margin-top: 20%;
}
