<h1>{{title}}</h1>
  <form class="form-group">
    <label>Author Of The Quote</label>
    <input id="author" class="form-control"type="text" placeholder="Enter name here">

    <label>Quote</label>
    <input id="quote" class="form-control"type="text" placeholder="Enter Quote here">
    <label>Submission Date:</label>
    <input id="date" class="form-control"type='date' placeholder="Enter date here">

    <label>Submitted By</label>
    <input id="by" class="form-control"type="text" placeholder="Enter name here">

    <button class="btn btn-info" type="submit" name="button">Submit</button>
  </form>
